{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %} - VM Web Manager</title>
    <link href="{% static 'vmapp/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vmapp/user/user.css' %}" rel="stylesheet">
</head>
<body>
    {% include 'vmapp/header.html' %}
    <div id="container">
        {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
{#    {% include 'footer.html' %}#}
    <script src="{% static 'vmapp/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'vmapp/bootstrap/bootstrap.min.js' %}"></script>
</body>
</html>