{% extends 'vmapp/base.html' %}
{% block title %}
    Homepage
{% endblock title %}
{% block content %}
    {% for item in vmlist %}
        <div class="card">
            <div class="card-header">
                {{ item.section }} ({{ item.type }})
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
{#                <span class="badge">{{ item.power }}</span>#}
                ID: {{ item.id }}
                <br>
                <a href="detail/{{ item.section }}/{{ item.type }}/{{ item.id }}" class="btn btn-primary">See details</a>
                <a href="state/{{ item.section }}/{{ item.type }}/{{ item.id }}" class="btn btn-primary">Change power state</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}