{% extends 'vmapp/base.html' %}
{% block title %}
    VM Power State
{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-header">
            VM Power state of {{ vm_id }} in {{ section }} ({{ type }})
        </div>
        <div class="card-body">
            Now it is: <b>{{ vm_now_state }}</b>
        {% if permission %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>
                        Your operation:
                        <select class="form-control" name="new_state">
                            <option>on</option>
                            <option>off</option>
                            <option>pause</option>
                            <option>unpause</option>
                            <option>shutdown</option>
                            {% if type == "vmware" %}
                            <option>suspend</option>
                            {% endif %}
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Change</button>
                </div>
            </form>
        {% else %}
            <br>
            <b>You have no permission to change power state!</b>
            <br>
        {% endif %}
            <a href="/" class="btn btn-primary">Return Home</a>
        </div>
    </div>
{% endblock content %}